@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Seaweed+Script&display=swap");

/*------------------------------------------------------------------------ General Styles -------------- */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-color: #f8f9fa;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-weight: 700;
    color: #315c2b;
}

/*------------------------------------------------------------------------ Nav Bar -------------- */
.logo-font {
    font-family: "Seaweed Script", cursive;
    font-size: 2.5rem;
    color: #315c2b;
    text-decoration: none;
}

.nav-link:hover {
    color: #abdf75;
    cursor: pointer;
}

/*------------------------------------------------------------------------ Footer -------------- */
footer {
    background-color: #315c2b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icon:hover {
    color: #abdf75;
}

/*------------------------------------------------------------------------ Home Page -------------- */

.hero-image {
    background: url("/static/images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
}

.slogan {
    color: #fff;
}

/*------------------------------------------------------------------------ Product List -------------- */
.card-img-top {
    height: 500px;
    object-fit: cover;
}

a > img:hover {
    cursor: pointer;
}

/*------------------------------------------------------------------------ Product Detail -------------- */
.product-detail-img {
    height: 600px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

/*------------------------------------------------------------------------ Bag --------------------------- */
.bag-table th {
    background-color: #eaf4e0;
    color: #315c2b;
}

.total-row {
    font-size: 1.5rem;
    font-weight: 600;
    color: #315c2b;
}

.bag-empty-msg {
    font-size: 1.2rem;
    margin: 2rem 0;
}

/*------------------------------------------------------------------------ Checkout --------------------------- */

.success-message {
    max-width: 750px;
}

/*------------------------------------------------------------------------ Garden Plant Detail -------------- */
.plant-detail-container {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plant-detail {
    align-items: center;
}

.carousel-item img {
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

/*------------------------------------------------------------------------ Add/Edit Garden Plant -------------- */

.add-plant-form {
    max-width: 600px;
    margin: 0 auto;
}
