@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Seaweed+Script&display=swap");

/*------------------------------------------------------------------------ General Styles -------------- */
body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f9fa;
}

/*------------------------------------------------------------------------ Nav Bar -------------- */
.logo-font {
    font-family: "Seaweed Script", cursive;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #315c2b;
    cursor: pointer;
}

/*------------------------------------------------------------------------ Footer -------------- */
.social-icon {
    font-size: 1.5rem;
    text-decoration: none;
}

/*------------------------------------------------------------------------ Home Page -------------- */

.hero-image {
    background: url("/static/images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
}

/*------------------------------------------------------------------------ Product List -------------- */
.card-img-top {
    height: 500px;
    object-fit: cover;
}

a > img:hover {
    cursor: pointer;
}

/*------------------------------------------------------------------------ Product Detail -------------- */

.product-detail-img {
    height: 750px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

/*------------------------------------------------------------------------ Garden Plant Detail -------------- */
.carousel-item img {
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}
