{% extends "base.html" %}
{% load static %}

{% block extra_title %}| My Garden{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Garden</h1>
    <!-- Add Plant Button -->
    <a href="{% url 'add_plant' %}" class="btn btn-success mb-4" aria-label="Add Plant Button">
        <i class="fas fa-plus"></i> Add Plant
    </a>

    <!-- User's Plants Grid -->
    {% if user_plants %}
    <div class="row">
        {% for plant in user_plants %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <a href="{% url 'plant_detail' plant.id %}" aria-label="Link to {{ plant.nickname }}'s details">
                    <img src="{{ plant.get_latest_image_url }}" class="card-img-top" alt="{{ plant.nickname }}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ plant.nickname }}</h5>
                    <p class="text-muted">{{ plant.plant_species }}</p>
                    <!-- Plant Details Button -->
                    <a href="{% url 'plant_detail' plant.id %}" class="btn btn-outline-success" aria-label="Button to {{ plant.nickname }}'s details">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- No Plants Added Message -->
    {% else %}
    <p class="text-center">You haven’t added any plants to your garden yet.</p>
    {% endif %}
</div>
{% else %}
<!-- Not Authenticated Message -->
<div class="container mt-5">
    <h1 class="text-center">My Garden</h1>
    <p class="text-center">Please <a href="{% url 'account_login' %}" aria-label="Link to Log In Page">log in</a> to view your garden.</p>
</div>
{% endif %}
{% endblock %}