{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Shop Plants{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Shop Plants</h1>

    <!-- Product Grid -->
    <div class="row">
        {% for plant in plants %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{% url 'product_detail' plant.pk %}">
                    {% if plant.image %}
                    <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.image_alt }}">
                    {% else %}
                    <img src="{% static 'images/placeholder.png' %}" alt="No image available" class="img-fluid">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    {% if plant.botanical_name %}
                        <p class="text-muted"><em>{{ plant.botanical_name }}</em></p>
                    {% endif %}
                    <p><strong>£{{ plant.price }}</strong></p>

                    <div>
                        {% if plant.pet_friendly %}<span class="badge bg-success">Pet Friendly</span>{% endif %}
                        {% if plant.air_purifying %}<span class="badge bg-primary">Air Purifying</span>{% endif %}
                        {% if plant.environment == 'indoor' %}<span class="badge bg-info text-dark">Indoor</span>{% endif %}
                        {% if plant.environment == 'outdoor' %}<span class="badge bg-secondary">Outdoor</span>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}